
@{
    ViewBag.Title = "Gallary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">Gallary</h2>

<div class="container">
   

    <div style="text-align:start">
        <img src="https://img.freepik.com/free-vector/large-school-building-scene_1308-32058.jpg" height="300" width="500" alt="...">
        <span class="col-3" style="text-size-adjust:400% revert">
            Prize Distrbution Day. Oragniased on the occasion of
            Birth Aniversary of  Mr.Desai (Founder of JNV)
        </span>
    </div><hr />
    <div style="text-align:start">
        <img src="https://img.freepik.com/free-vector/large-school-building-scene_1308-32058.jpg" height="300" width="500" alt="...">
        <span class="col-3" style="text-size-adjust:400% revert"> Prize Distrbution Day. Oragniased on the occasion of Birth Aniversary of  Mr.Desai (Founder of JNV) </span>
    </div><hr />
    <div style="text-align:start">
        <img src="https://img.freepik.com/free-vector/large-school-building-scene_1308-32058.jpg" height="300" width="500" alt="...">
        <span class="col-3" style="text-size-adjust:400% revert"> Prize Distrbution Day. Oragniased on the occasion of Birth Aniversary of  Mr.Desai (Founder of JNV) </span>
    </div><hr />
    <div style="text-align:start">
        <img src="https://img.freepik.com/free-vector/large-school-building-scene_1308-32058.jpg" height="300" width="500" alt="...">
        <span class="col-3" style="text-size-adjust:400% revert"> Prize Distrbution Day. Oragniased on the occasion of Birth Aniversary of  Mr.Desai (Founder of JNV) </span>
    </div><hr />
    <div style="text-align:start">
        <img src="https://img.freepik.com/free-vector/large-school-building-scene_1308-32058.jpg" height="300" width="500" alt="...">
        <span class="col-3" style="text-size-adjust:400% revert"> Prize Distrbution Day. Oragniased on the occasion of Birth Aniversary of  Mr.Desai (Founder of JNV) </span>
    </div><hr />

</div>